<div id="<%= dom_id requirement_course %>">
  <p>
    <strong>Requirement:</strong>
    <%= requirement_course.requirement_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= requirement_course.course_id %>
  </p>

</div>
