<link rel="stylesheet" href="assets/stylesheets/application.css">

<div id="<%= dom_id requirement_course %>">
  <p>
    <strong>Requirement:</strong>
    <%= link_to requirement_course.requirement.name, requirement_course.requirement %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= link_to requirement_course.course.name, requirement_course.course %>
  </p>

</div>
