<link rel="stylesheet" href="assets/stylesheets/application.css">

<% content_for :title, "New requirement course" %>

<h1>New requirement course</h1>

<%= render "form", requirement_course: @requirement_course %>

<br>

<div>
  <%= link_to "Back to requirement courses", requirement_courses_path %>
</div>
