<link rel="stylesheet" href="assets/stylesheets/application.css">

<div id="<%= dom_id course_prerequisite %>">
  <p>
    <strong>Course:</strong>
    <%= course_prerequisite.course.name %>
  </p>

  <p>
    <strong>Prerequisite:</strong>
    <%= course_prerequisite.prerequisite.name %>
  </p>

</div>
