<div id="<%= dom_id course_prerequisite %>">
  <p>
    <strong>Course:</strong>
    <%= course_prerequisite.course_id %>
  </p>

  <p>
    <strong>Prerequisite:</strong>
    <%= course_prerequisite.prerequisite_id %>
  </p>

</div>
