<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<% content_for :title, "Requirements" %>

<h1 class="heading">Requirements</h1>

<%= link_to "New requirement", new_requirement_path, class: "newButton" %>

<div id="requirements">
  <% @requirements.each do |requirement| %>
    <%= render requirement %>
    <p>
      <%= link_to "Show this requirement", requirement %>
    </p>
  <% end %>
</div>

