<link rel="stylesheet" href="assets/stylesheets/application.css">

<% content_for :title, "New requirement" %>

<h1>New requirement</h1>

<%= render "form", requirement: @requirement %>

<br>

<div>
  <%= link_to "Back to requirements", requirements_path %>
</div>
