<h1 class="heading">Edit Profile</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :major, "Major" %>
    <%= f.select :major, ['Computer Science', 'Computer Engineering'], include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
