<link rel="stylesheet" href="assets/stylesheets/application.css">

<% content_for :title, "New user" %>

<h1 class="heading">New user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
