<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<% content_for :title, "User interests" %>

<h1 class="heading">User interests</h1>

<%= link_to "New user interest", new_user_interest_path, class: "newButton" %>

<div id="user_interests">
  <% @user_interests.each do |user_interest| %>
    <%= render user_interest %>
    <p>
      <%= link_to "Show this user interest", user_interest %>
    </p>
  <% end %>
</div>

