<div id="<%= dom_id subject %>">
  <p>
    <strong>ID:</strong>
    <%= subject.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>
  <p>
    <strong>Code:</strong>
    <%= subject.code %>
  </p>

</div>
