<link rel="stylesheet" href="assets/stylesheets/application.css">

<div id="<%= dom_id degree_plan %>">
  <table>
    <tr>
    <%# <th>Name:</th> %>
    <th style="text-align: center;"><%= degree_plan.name %></th>
  </tr>
  <tr>
    <%# <th>Requirements:</th> %>

      <table>
        <% degree_plan.requirements.each do |requirement| %>
          <tr>
            <td><%= link_to requirement.name, requirement %></td>
          </tr>
        <% end %>
      </table>
      </tr>
  </table>
    <%= link_to 'Make new requirement', new_requirement_path, class: "newButton" %>
</div>
