<link rel="stylesheet" href="assets/stylesheets/application.css">

<% content_for :title, "Editing degree plan" %>

<h1 class="heading">Editing degree plan</h1>

<%= render "form", degree_plan: @degree_plan %>

<br>

<div>
  <%= link_to "Show this degree plan", @degree_plan, class: "showButton" %> |
  <%= link_to "Back to degree plans", degree_plans_path, class: "showButton" %>
</div>
