<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<% content_for :title, "Degree plans" %>

<h1 class="heading">Degree plans</h1>

<%= link_to "New degree plan", new_degree_plan_path, class: "newButton" %>

<div id="degree_plans">
  <% @degree_plans.each do |degree_plan| %>
    <%= render degree_plan %>
    <p>
      <%= link_to "Show this degree plan", degree_plan, class: "showButton" %>
      <br>
    </p>
  <% end %>
</div>

