<link rel="stylesheet" href="assets/stylesheets/application.css">

<% content_for :title, "New degree plan" %>

<h1 class="heading">New degree plan</h1>

<%= render "form", degree_plan: @degree_plan %>

<br>

<div>
  <%= link_to "Back to degree plans", degree_plans_path %>
</div>
