<h1>Welcome, <%= @admin.full_name %>!</h1>
<%= link_to "Sign Out", destroy_admin_session_path %>

<% if @oauth_uid.present? %>
  <p>Your unique OAuth ID is: <%= @oauth_uid %></p>
<% else %>
  <p>No OAuth ID found.</p>
<% end %>
