<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses by Subject" %>

<h1 class="heading">Courses by Subject</h1>

<ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject.code, courses_by_subject_path(subject.code) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Course", new_course_path %>
