<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses by Subject" %>

<h1 class="heading">Courses by Subject</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
    <% @subjects.each do |subject| %>
      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to subject.code, courses_by_subject_path(subject.code), class: "stretched-link" %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= subject.name %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New Course", new_course_path %>
