<link rel="stylesheet" href="assets/stylesheets/application.css">

<div id="<%= dom_id user_plan_course %>">
  <p>
    <strong>Course:</strong>
    <%= @user_plan_course.course.name %>
  </p>
  <p>
    <strong>Have already taken:</strong>
    <%= @user_plan_course.has_taken %>
  </p>
</div>
